# Compilados
*.class
*.jar
*.war
*.ear

# Logs
*.log

# Directorios de build
/target/
/build/
/out/

# Configuración de IntelliJ IDEA
/.idea/
/*.iml
/modules.xml
/.classpath
/.project

# Configuración de VSCode (si alguno usa)
/.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db
